p {
    font-family: Arial;
  }
h1 {
color:maroon;
}
.title {
color: teal;
}
.uppercase {
text-transform: uppercase;
}
.publish-time {
color:gray;
}
.cursive {
font-family: cursive;
}
.capitalize {
text-transform: capitalize;
}
h2.destination {
font-family:cursive;
}
.description h5 {
color:teal;
}
h5{
color:rebeccapurple !important;
}

/* !important is even more specific than IDs, but because of this it is very difficult to override and
should be used sparringly. It's only useful when an element needs to appear the same 100% of the time.  */
